body {
    background-color: hsl(212, 45%, 89%);
}
.container{
    width: 300px;
    height: 450px;
    position: absolute;

    background-color: hsl(0, 0%, 100%);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    margin: auto;
    border-radius: 15px;
}
.qr-code{
    width: 275px;
    height: 260px;
    border-radius: 8px;
    display: block;
    margin: auto;
    margin-top: 12px;
}
.title{
    font-family: "Outfit";
    font-weight: 700;
    text-align: center;
    color: hsl(218, 44%, 22%);
    font-size: 21px;
    padding-left: 20px;
    padding-right: 20px;
    line-height: 1.2;
}
.text{
    font-family: "Outfit";
    font-weight: 400;
    text-align: center;
    color: hsl(216, 15%, 48%);
    font-size: 14px;
    padding-left: 20px;
    padding-right: 20px;
    line-height: 1.45;
}
.attribution{
    text-align: center;
    position: absolute;
    bottom: 0;
    top: 1;
    left: 0;
    right: 0;
    margin: auto;
    padding-bottom: 10px;
}
a:hover{
    color:blue;
}
